<script>
  import Table from "./Table.svelte";
  import sqlFormatter from "sql-formatter";
  import { onMount } from "svelte";
  import { Button } from "sveltestrap";
  import CodeMirror from "codemirror/lib/codemirror.js";
  import "codemirror/mode/sql/sql.js";
  import "codemirror/lib/codemirror.css";
  import "codemirror/theme/darcula.css";

  export let db;
  export let query;
  export let results = [];

  export let autoformat = true;
  export let editable = true;
  export let visible = true;
  export let results_visible = true;
  export let results_pagination_size = 5;

  let parent;
  let view;
  $: view
    ? visible
      ? (view.getWrapperElement().style.display = "block")
      : (view.getWrapperElement().style.display = "none")
    : null;

  onMount(async () => {
    view = CodeMirror(parent, {
      value: autoformat ? sqlFormatter.format(query) : query,
      lineNumbers: true,
      mode: "text/x-sql",
      readOnly: !editable,
      viewportMargin: Infinity
    });

    results = await db.exec(query);
  });
</script>

<div bind:this={parent} />

{#if editable}
  <div>
    <Button
      color="info"
      on:click={() => {
        view.setValue(sqlFormatter.format(view.getValue()));
      }}>
      format
    </Button>
    <Button
      color="primary"
      on:click={async () => {
        results = await db.exec(view.getValue());
      }}>
      execute
    </Button>
  </div>
{/if}

{#if results_visible && visible}
  {#each results as result}
    <Table {result} view_size={results_pagination_size} />
  {/each}
{/if}
