<script>
  import Editor from "./Editor.svelte";
  import { Button } from "sveltestrap";

  export let db;
  export let query;
  export let transform = res => res;
  export let layout = {};
  export let isOpen = false;

  let plot;
  let results = [];
  // redraw when results change
  $: results.length > 0
    ? Plotly.newPlot(
        plot,
        transform(results),
        {
          xaxis: {
            title: results[0].columns[0]
          },
          yaxis: {
            title: results[0].columns[1]
          },
          margin: {
            l: 50,
            r: 0,
            b: 50
          },
          ...layout
        },
        { responsive: true }
      )
    : null;
</script>

{#if !plot || plot.className != 'js-plotly-plot'}
  <p>loading...</p>
{/if}
<div bind:this={plot} />

<Button
  outline
  color="primary"
  on:click={() => (isOpen = !isOpen)}
  class="mb-3">
  Show Details
</Button>
<Editor {db} {query} editable={false} visible={isOpen} bind:results />
