<script>
  import { Table, Button, ButtonGroup } from "sveltestrap";
  import { zip, chunk } from "lodash";
  import { onDestroy } from "svelte";

  export let view_size = 5;
  export let result;
  export let hide_columns = [];
  export let rowId = 0;
  export let onrowclick = row => row;
  $: hide_column_indices = result
    ? hide_columns.map(c => result.columns.indexOf(c))
    : [];
  // Instead of applying the callback when clicking a row, we update the row
  // index and apply the callback on change. This allows us to return the index
  // for modification in the parent, as well as changing state here.
  $: result &&
    onrowclick(Object.fromEntries(zip(result.columns, result.values[rowId])));
  $: idx = rowId ? Math.floor(rowId / view_size) : 0;
  $: chunked = result ? chunk(result.values, view_size) : [];
  $: total = result ? result.values.length : 0;
  $: pages = chunked.length;

  onDestroy(() => {
    result = null;
    idx = 0;
  });

  function prev() {
    if (idx > 0) {
      idx--;
    }
  }
  function next() {
    if (idx < pages - 1) {
      idx++;
    }
  }

  function filterVisible(_, i) {
    return !hide_column_indices.includes(i);
  }
</script>

{#if pages}
  <Table bordered hover class="table-sm">
    <thead>
      <tr>
        {#each result.columns.filter(filterVisible) as col}
          <th>{col}</th>
        {/each}
      </tr>
    </thead>
    <tbody>
      {#each chunked[idx] as row, offset}
        <tr
          on:click={() => (rowId = idx * view_size + offset)}
          class={idx * view_size + offset == rowId ? 'table-active' : ''}>
          {#each row.filter(filterVisible) as value}
            <td>{value}</td>
          {/each}
        </tr>
      {/each}
    </tbody>
  </Table>
  {#if pages > 1}
    <ButtonGroup>
      <Button outline color="primary" disabled={!(idx > 0)} on:click={prev}>
        Prev
      </Button>
      <Button
        outline
        color="primary"
        disabled={!(idx < pages - 1)}
        on:click={next}>
        Next
      </Button>
    </ButtonGroup>
    <div>
      <p>{total} rows - page {idx + 1} of {pages}</p>
    </div>
  {:else}
    <div>
      <p>{total} rows</p>
    </div>
  {/if}
{/if}
