body {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.CodeMirror {
  height: auto;
}

/* from https://bootswatch.com/cyborg/ */
a {
  color: #2a9fd6;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #1d7097;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
