<script>
  import Plot from "../components/Plot.svelte";
  import { transformResults1D } from "../utils.js";

  export let db;
</script>

<h2>Age Distribution</h2>

<p>What is the average age for a character that reaches level 200?</p>

<p>
  There are two peaks in the plot (i.e. it's
  <a href="https://en.wikipedia.org/wiki/Multimodal_distribution">bimodal</a>
  ). You either make it to level 200 in one or two years. The are a few players
  that have take 4-5 years to reach to finish who probably took a long break
  from the game.
</p>

<Plot
  {db}
  query={`
    with latest as (
      select name, timestamp as latest_timestamp
      from leveling
      where level = 200
    ),
    earliest as (
      select name, min(level) as level, min(timestamp) as earliest_timestamp
      from leveling
      group by name
    ),
    ages as (
      select 
        name, 
        round(
          date_diff_js(latest_timestamp, earliest_timestamp, "days")
        ) as age_days
      from latest
      join earliest
      using (name)
      where level = 2
    )
    select age_days from ages
  `}
  transform={results => transformResults1D(results, { type: 'histogram' })}
  layout={{ title: 'Histogram of days since first level' }} />
