<script>
  import Plot from "../components/Plot.svelte";
  import { transformResults2D } from "../utils.js";

  export let db;
</script>

<h2>Events by Month</h2>

<p>What is the count of players reaching level 200 each month?</p>

<p>
  MapleLegends has seen significant growth in the last two years. The number of
  level 200 players entering the rankings reflects this fact.
</p>

<Plot
  {db}
  query={`
    SELECT
      month_js(timestamp) as month,
      count(distinct name) as count
    FROM leveling
    WHERE level = 200
    GROUP BY month
    ORDER BY month
  `}
  transform={results => transformResults2D(results, { mode: 'lines+markers' })}
  layout={{ title: 'Count of level 200 events by month' }} />
