<script>
  import Plot from "../components/Plot.svelte";
  import { transformResults2D } from "../utils.js";

  export let db;
</script>

<h2>Job Distribution</h2>

<p>How many people have reached level 200 in each job?</p>

<p>
  Bishops are by far the most popular job due to their high utility (and one of
  the few jobs with a dedicated discord bot command
  <code>!bishop</code>
  ). Nightlords are also a popular choice as an attacker in boss runs. Pirates
  are under-represented in the level 200 pool.
</p>

<Plot
  {db}
  query={`
    select
      job,
      count(distinct name) as count
    from ranking
    group by job
    order by count desc
  `}
  transform={results => transformResults2D(results, { type: 'bar' })}
  layout={{ title: 'Level 200 characters by job', margin: { l: 50, r: 25, b: 100 }, xaxis: {} }} />
