<script>
  import Plot from "../components/Plot.svelte";
  import { transformResultsGrouped1D } from "../utils.js";

  export let db;
</script>

<h2>Time to Level</h2>

<p>How long did it on average to level up?</p>

<p>
  This plot has a boxplot for each level with the number of hours it took to
  level up. There is a notable jump in the number of hours for second, third,
  and fourth job advancements (probably because you'd call it a day on after a
  job advancement). Players level 180+ are averaging about 9 days between level
  ups.
</p>

<Plot
  {db}
  query={`
    with extracted as (
      select
        name,
        level,
        timestamp,
        lag(timestamp) over (
            partition by name order by timestamp asc
        ) as prev_timestamp
      from leveling
    )
    select level, date_diff_js(timestamp, prev_timestamp, "hours") as gap
    from extracted
    where prev_timestamp is not null
  `}
  transform={results => transformResultsGrouped1D(results, {
      type: 'box',
      marker: {
        color: 'rgb(107,174,214)'
      }
    })}
  layout={{ title: 'Average time to level', showlegend: false, yaxis: { title: 'time to level (log hours)', type: 'log' } }} />
