<script>
  import Editor from "./components/Editor.svelte";
  import EventsByMonth from "./plots/EventsByMonth.svelte";
  import JobDistribution from "./plots/JobDistribution.svelte";
  import AgeDistribution from "./plots/AgeDistribution.svelte";
  import TimeToLevel from "./plots/TimeToLevel.svelte";
  import { wrap } from "comlink";
  import Worker from "web-worker:./worker.js";
  import { Container, Col, Row, Nav, NavItem, NavLink } from "sveltestrap";
  import FrontMatter from "./FrontMatter.md";
  import Notes from "./Notes.md";

  let tab = 0;

  async function init() {
    let DB = wrap(new Worker());
    let db = await new DB();
    await db.init(document.baseURI.replace("index.html", ""));
    return db;
  }
</script>

<style>
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
</style>

<main>
  <Container>
    <FrontMatter />
    <Nav tabs>
      <NavItem>
        <NavLink href="#" on:click={() => (tab = 0)} active={tab == 0}>
          Dashboard
        </NavLink>
      </NavItem>
      <NavItem>
        <NavLink href="#" on:click={() => (tab = 1)} active={tab == 1}>
          Editor
        </NavLink>
      </NavItem>
      <NavItem>
        <NavLink href="#" on:click={() => (tab = 2)} active={tab == 2}>
          Notes
        </NavLink>
      </NavItem>
    </Nav>
    {#await init()}
      <p>loading...</p>
    {:then db}
      {#if tab == 0}
        <!-- The fact that the content is order dependent is a hack. -->
        <Row>
          <Col>
            <JobDistribution {db} />
          </Col>
        </Row>
        <Row>
          <Col md>
            <AgeDistribution {db} />
          </Col>
          <Col md>
            <EventsByMonth {db} />
          </Col>
        </Row>
        <Row>
          <Col>
            <TimeToLevel {db} />
          </Col>
        </Row>
      {:else if tab == 1}
        <h2>Schema</h2>
        <p>Run your own SQL queries on the ranking data. The schema follows:</p>

        <Editor
          {db}
          query={`select sql from sqlite_master where type="table"`}
          autoformat={false}
          editable={false} />

        <h2>Editor</h2>

        <Editor {db} autoformat={false} results_pagination_size={10} />
      {:else if tab == 2}
        <Notes />
      {/if}

    {/await}
  </Container>
</main>
