<h1>bookmarklets</h1>

<p>Bookmark a link to use it.</p>

<h2>expand all spoilers in the MapleLegends forums</h2>

<a
  href='javascript:(function () {
    let els = document.getElementsByClassName("bbCodeSpoilerButton");
    Array.from(els).forEach((el) => {
      el.click();
    });
  })();'
  >[ml] expand spoilers</a
>
