<script>
  import Editor from "./components/Editor.svelte";
  import Explorer from "./Explorer.svelte";
  import Export from "./Export.svelte";
  import { initDb } from "./utils.js";
  import { Container, Col, Row, Nav, NavItem, NavLink } from "sveltestrap";
  import FrontMatter from "./FrontMatter.md";
  import Notes from "./Notes.md";

  let tabIdx = 0;
  let tabs = ["Explorer", "Categorized", "Export", "Editor", "Notes"];
</script>

<style>
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
</style>

<main>
  <Container>
    <FrontMatter />
    <Nav tabs>
      {#each tabs as title, i}
        <NavItem>
          <NavLink href="#" on:click={() => (tabIdx = i)} active={tabIdx == i}>
            {title}
          </NavLink>
        </NavItem>
      {/each}
    </Nav>
    {#await initDb()}
      <p>loading...</p>
    {:then db}
      {#if tabIdx == 0}
        <Explorer {db} />
      {:else if tabIdx == 1}
        <Explorer {db} showCategorized={true} />
      {:else if tabIdx == 2}
        <Export {db} />
      {:else if tabIdx == 3}
        <h2>Schema</h2>
        <Editor
          {db}
          query={`select sql from sqlite_master where type="table"`}
          autoformat={false}
          editable={false} />

        <h2>Editor</h2>

        <Editor
          {db}
          query={'select * from threads;\nselect * from members;\nselect * from posts;'}
          autoformat={false}
          results_pagination_size={10} />
      {:else if tabIdx == 4}
        <Notes {db} />
      {/if}
    {/await}
  </Container>
</main>
