<script>
  import { loadThread, storeThread } from "./data.js";
  import { Form, Label, Input, Row, Col } from "sveltestrap";
  import { DateTime } from "luxon";

  let major = [
    "Account Hacking",
    "Game Hacking",
    "Server Attack",
    "Malicious Programs",
    "Illegal Content",
    "Game Monitoring",
    "Real World Trading",
    "Improper Files",
    "Account Sharing"
  ];

  let moderate = [
    "Staff Impersonation",
    "Solicitation",
    "Information Harvesting (Stalking)",
    "Glitch Abuse",
    "Robotic Play",
    "Vote Abuse"
  ];

  let minor = [
    "Objectionable Behavior (Harassment)",
    "Objectionable Behavior (Disruption)",
    "Hate Speech",
    "Inappropriate Content",
    "Kill-stealing",
    "Map Looting"
  ];

  let extension = [
    "Believable Claim",
    "Ban Evasion",
    "Associative Rule-breaking"
  ];

  let other = ["Self Ban", "Inactive", "Weak Password", "Unknown"];

  let banLabels = {
    major: major,
    moderate: moderate,
    minor: minor,
    extension: extension,
    other: other,
    "": [""]
  };

  let statusLabels = ["Banned", "Unbanned", "Unknown", "Invalid"];
  let defaultState = { category: "", reason: "", status: "Unknown" };

  export let thread_id;
  export let onChangeStored = id => id;
  let category = "";
  let reason = "";
  let status = "Unknown";
  $: loadThread(thread_id).then(
    res => ({ category, reason, status } = res || defaultState)
  );
  $: loadThread(thread_id).then(res => {
    if (!res) {
      res = defaultState;
    }
    if (
      res.category == category &&
      res.reason == reason &&
      res.status == status
    ) {
      return;
    } else {
      storeThread(thread_id, {
        timestamp: DateTime.utc().toString(),
        category: category,
        reason: reason,
        status: status
      }).then(() => onChangeStored(thread_id));
    }
  });
</script>

<Form>
  <Row>
    <Col>
      <Label>Category</Label>
      <Input type="select" bind:value={category}>
        {#each Object.keys(banLabels) as label}
          <option value={label}>{label}</option>
        {/each}
      </Input>
    </Col>
    <Col>
      <Label>Reason</Label>
      <Input type="select" bind:value={reason}>
        {#each banLabels[category] as label}
          <option value={label}>{label}</option>
        {/each}
      </Input>
    </Col>
    <Col>
      <Label>Status</Label>
      <Input type="select" bind:value={status}>
        {#each statusLabels as label}
          <option value={label}>{label}</option>
        {/each}
      </Input>
    </Col>
  </Row>
</Form>
