<script>
  import Table from "./components/Table.svelte";
  import Categorize from "./Categorize.svelte";
  import { transformResultObject } from "./utils.js";
  import { insertCategorizedData, onChangeStored } from "./data.js";
  import { onMount } from "svelte";
  import { Button, ButtonGroup } from "sveltestrap";

  export let db;
  export let showCategorized = false;

  let result;
  let thread;
  let rowId = 0;
  let hide_columns = ["thread_href"];
  $: thread = !thread && result ? transformResultObject(result)[0] : thread;

  let query_threads = `
    -- bug where bolded or linked text was not included
    with nulled as (
      select distinct thread_id
      from posts
      where trim(text) = ''
    )
    select *
    from threads
    ${showCategorized ? "inner join categorized using (thread_id)" : ""}
    where thread_id not in (select * from nulled)
    ${showCategorized ? "order by thread_id" : "order by random()"}`;

  $: query_post = thread
    ? `
        select *
        from posts
        join members
        using (member_id)
        where thread_id = ${thread.thread_id}
        order by post_number`
    : null;

  function onrowclick(row) {
    thread = row;
  }

  onMount(async () => {
    if (showCategorized) {
      await insertCategorizedData(db);
    }
    result = (await db.exec(query_threads))[0];
  });

  function handleKeydown(event) {
    // we have to reimplement logic because binding to the button is broken
    switch (event.key) {
      case "ArrowLeft":
        if (rowId > 0) {
          rowId = rowId - 1;
        }
        break;
      case "ArrowRight":
        if (rowId < result.values.length - 1) {
          rowId = rowId + 1;
        }
        break;
    }
  }
</script>

<svelte:window on:keydown={handleKeydown} />

<Table {result} {hide_columns} {onrowclick} bind:rowId />

{#if thread && query_post}
  <h2>{thread.title}</h2>
  <div>
    <ButtonGroup>
      <Button
        outline
        color="primary"
        disabled={!(rowId > 0)}
        on:click={() => (rowId = rowId - 1)}>
        Prev
      </Button>
      <Button
        outline
        color="primary"
        disabled={!(rowId < result.values.length - 1)}
        on:click={() => (rowId = rowId + 1)}>
        Next
      </Button>
    </ButtonGroup>
  </div>
  <Categorize
    thread_id={thread.thread_id}
    onChangeStored={thread_id => (showCategorized ? onChangeStored(db, thread_id) : null)} />
  <a
    href={`https://mapleroyals.com/forum/${thread.thread_href}`}
    target="_blank">
    {thread.thread_href}
  </a>
  {#await db.exec(query_post) then results}
    {#each transformResultObject(results[0]) as post}
      <div>
        <b>
          {post.member_href} {post.staff ? '(staff)' : ''} at {post.timestamp}
        </b>
        <div style="white-space: pre-wrap">{post.text}</div>
      </div>
    {/each}
  {/await}
{/if}
