<script>
  import { insertCategorizedData } from "./data.js";
  import { transformResultObject } from "./utils.js";
  import { saveAs } from "file-saver";
  import { Button } from "sveltestrap";

  export let db;

  async function exportCategorized(db) {
    await insertCategorizedData(db);
    let results = await db.exec("select * from categorized");
    let transformed = transformResultObject(results[0]);
    let blob = new Blob([JSON.stringify(transformed)], {
      type: "text/json;charset=utf-8"
    });
    saveAs(blob, "categorized.json");
  }
</script>

<Button on:click={() => exportCategorized(db)}>export categorized</Button>
