<script>
  import { Table, Button, ButtonGroup } from "sveltestrap";
  import { chunk } from "lodash";
  import { onDestroy } from "svelte";

  export let view_size = 5;
  export let result;
  let idx = 0;
  $: chunked = result ? chunk(result.values, view_size) : [];
  $: total = result ? result.values.length : 0;
  $: pages = chunked.length;

  onDestroy(() => {
    result = null;
    idx = 0;
  });

  function prev() {
    if (idx > 0) {
      idx--;
    }
  }
  function next() {
    if (idx < pages - 1) {
      idx++;
    }
  }
</script>

{#if pages}
  <Table bordered dark class="table-sm">
    <thead>
      <tr>
        {#each result.columns as col}
          <th>{col}</th>
        {/each}
      </tr>
    </thead>
    <tbody>
      {#each chunked[idx] as row}
        <tr>
          {#each row as value}
            <td>{value}</td>
          {/each}
        </tr>
      {/each}
    </tbody>
  </Table>
  {#if pages > 1}
    <ButtonGroup>
      <Button outline color="primary" disabled={!(idx > 0)} on:click={prev}>
        Prev
      </Button>
      <Button
        outline
        color="primary"
        disabled={!(idx < pages - 1)}
        on:click={next}>
        Next
      </Button>
    </ButtonGroup>
    <div>
      <p>{total} rows - page {idx + 1} of {pages}</p>
    </div>
  {:else}
    <div>
      <p>{total} rows</p>
    </div>
  {/if}
{/if}
