<script>
  import { onMount } from "svelte";
  import levenshtein from "js-levenshtein";

  let monsters = [];
  let monstername = "";
  let answer = "";
  let editable = true;
  let threshold = 60;
  let correct = 0;
  let total = 0;
  let ready_next = false;

  $: monster = random_monster(monsters);
  $: monster &&
    get_info(monster).then((data) => {
      monstername = data.monstername.trim();
      ready_next = true;
    });
  $: distance = levenshtein(answer.toLowerCase().trim(), monstername.toLowerCase());
  $: score = Math.round((Math.max(monstername.length - distance, 0) / monstername.length) * 100);

  function random_monster(monsters) {
    return monsters[Math.floor(Math.random() * monsters.length)];
  }

  async function get_info(monsterid) {
    let resp = await fetch(`info?id=${monsterid}`);
    return await resp.json();
  }

  function get_image(monsterid) {
    return `https://maplelegends.com/static/images/lib/monster/${monsterid}.png`;
  }

  function reveal() {
    editable = false;
    correct += score >= threshold ? 1 : 0;
    total += 1;
  }

  function new_monster() {
    monster = random_monster(monsters);
    editable = true;
    ready_next = false;
    answer = "";
  }

  onMount(async () => {
    let resp = await fetch("monsterids.csv");
    let data = await resp.text();
    monsters = data
      .split("\n")
      .filter((row) => row.length)
      .map((row) => row.trim());
  });
</script>

<h1>Who's that Pokemon, MapleLegends edition</h1>

<p><b>Current Score:</b> {correct}/{total} correct</p>
{#if monsters.length > 0 && monster}
  <div class="parent">
    <img class="bg" src="background.webp" alt="background" />
    <img class={`fg ${editable ? "black" : ""}`} src={get_image(monster)} alt="monster" />
  </div>
  <div>
    <label
      >your answer: <input
        type="text"
        bind:value={answer}
        on:keypress={(e) => {
          if (e.key === "Enter") {
            reveal();
          }
        }}
        readonly={!editable}
      /></label
    >
    {#if editable}
      <button on:click={reveal} disabled={!ready_next}>Reveal</button>
    {:else}
      <p>
        {#if score >= threshold}
          You're right,
        {:else}Wrong,{/if}
        it's
        <b><a href={`https://maplelegends.com/lib/monster?id=${monster}`}>{monstername}</a></b>.
        (You were {score}% correct).
      </p>
      <button disabled={!ready_next} on:click={new_monster}>New Monster</button>
    {/if}
  </div>
{/if}

<style>
  /* https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html */
  .parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .bg {
    position: relative;
    top: 0;
    left: 0;
    max-width: 800px;
  }
  .fg {
    position: absolute;
    top: 150px;
    left: 150px;
    height: 180px;
  }
  /* https://stackoverflow.com/a/38265768 */
  .black {
    filter: brightness(0%);
  }
</style>
