<script>
  let speeds = [0.5, 1, 2, 4].map((speed) => `${speed}x`);
  const urls = speeds.map((speed) => `popcat-64-${speed}.gif`);
  let speed = 1;

  let n = 20;
  let m = 20;

  function init(n, m) {
    let design = [];
    for (let i = 0; i < n; i++) {
      let row = [];
      for (let j = 0; j < m; j++) {
        let v = 1;
        if (j >= 5 && j < 15 && i >= 5 && i < 15) {
          v = 2;
        } else if (i % 2 == 0 && j % 2 == 0) {
          v = 0;
        }
        row.push(v);
      }
      design.push(row);
    }
    return design;
  }

  let design = init(n, m);
</script>

<main>
  <h1>popcat by geospiza</h1>
  <label
    ><input type="range" min={0} max={3} bind:value={speed} />
    {speeds[speed]}
  </label>

  <p>Hover your mouse over the canvas to change the speed of popcats.</p>

  <div class="content">
    {#each design as row, i}
      {#each row as el, j}
        <img
          draggable={false}
          src={urls[el]}
          alt="popcat"
          on:mouseover={() => {
            design[i][j] = speed;
          }}
        />
      {/each}
      <br />
    {/each}
  </div>
</main>

<style>
  .content {
    white-space: nowrap;
  }

  img {
    width: 32px;
    height: 32px;
  }
</style>
